<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{{ with .Params.Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}"
  />

  <meta
    name="keywords"
    content="{{ with .Params.keywords }}{{ . }}{{ else }}{{ with .Site.Params.keywords }}{{ . }}{{ end }}{{ end }}"
  />

  {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}" />
  {{ end }}

  <meta name="google-site-verification" content="Os0XiJ_IsnKUGbMIAetAT8jRKYr8ty87olW3V1P0ia4" />

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
    <link rel="stylesheet" href="{{ .link | relURL }}" />
  {{ end }}

  {{ with .Params.relcanonical }}
  <link rel="canonical" href="{{ . | relLangURL }}" />
{{ else -}}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end -}}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}

  {{ $styles := resources.Get "css/style.scss" | resources.ToCSS | resources.PostCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen" />

  <link rel="stylesheet" href="/css/customizations.css" media="screen" />

  {{ "<!--Favicon-->" | safeHTML }}

  <link rel="icon" type="image/png" href="/images/favicon.ico" />

  <!-- {{ if isset .Site.Params "special_favicon" }}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ .Site.Params.special_favicon.apple_touch }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ .Site.Params.special_favicon.fav32 }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ .Site.Params.special_favicon.fav16 }}"
    />
    <link rel="manifest" href="{{ .Site.Params.special_favicon.manifest }}" />
    <link
      rel="mask-icon"
      href="{{ .Site.Params.special_favicon.mask_icon }}"
      color="{{ .Site.Params.special_favicon.mask_icon_color }}"
    />
    <meta
      name="theme-color"
      content="{{ .Site.Params.special_favicon.theme_color }}"
    />
    {{ else }}
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon }}" />
  {{ end }} -->
  {{ with .Site.Params.google_analytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ . }}');
    </script>
  {{ end }}
</head>
